<app-header></app-header>
<form
  style="
    border: 1px solid black;
    border-radius: 0.8rem;
    width: 70%;
    margin: 0 auto;
  "
  [formGroup]="form"
  (ngSubmit)="processForm()"
>
  <div style="margin-top: 0.4rem">
    <label
      style="
        display: inline-block;
        width: 20%;
        margin: 0.25rem 1rem;
        text-align: left;
      "
      for="login-email"
      >Email</label
    ><input
      style="display: inline-block; width: 90%; margin: 0 3%"
      type="email"
      name="login-email"
      id="login-email"
      formControlName="email"
    />
  </div>
  <div style="">
    <label
      style="
        display: inline-block;
        width: 20%;
        margin: 0.25rem 1rem;
        text-align: left;
      "
      for="login-password"
      >Password</label
    ><input
      style="
        display: inline-block;
        width: 90%;
        margin: 0 3%;
        margin-bottom: 0.8rem;
      "
      type="password"
      name="login-password"
      id="login-password"
      formControlName="password"
    />
  </div>
  <div style="display: flex; justify-content: center; margin: 0.3rem 0">
    <button style="width: 80%" type="submit">Sign In</button>
  </div>
  <div
    style="
      display: flex;
      justify-content: center;
      margin: 0.7rem 0;
      font-size: 0.8rem;
    "
  >
    New to Smack?&nbsp;<a [routerLink]="['/signup']">Create an account</a>
  </div>
</form>
